<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
		
</head>

</head>
<body>

<h1>Facturas</h1>
<p>Facturación en vivo y en directo para el Ale que lo mira por TV</p>

<div class="contenedor">
    <div class="tarjeta">
        <h2>Crear Factura</h2>
        <p>Facturación a Contratos Activos</p>
        <a th:href="@{/facturas/contratosParaFacturar}" class="btn">Ingresar</a>
    </div>

    <div class="tarjeta">
        <h2>Modificar Factura</h2>
        <p class="pendiente">Editar Facturas por algun problema o cambio necesario</p>
        <a th:href="@{facturas/modificarFactura}" class="btn">Ingresar</a>
    </div>

    <div class="tarjeta">
        <h2>Eliminar Factura</h2>
        <p class="pendiente">Eliminar una factura en particular</p>
        <a th:href="@{facturas/eliminarFactura}" class="btn">Ingresar</a>
    </div>

    <div class="tarjeta">
        <h2>Ver Facturas</h2>
        <p class="pendiente">Ver Todas las facturas</p>
        <a th:href="@{facturas/verFacturas}" class="btn">Ingresar</a>
    </div>
</div>

</body>
</html>